save-workspace-protocol=false
shared-workspace-lockfile=true
link-workspace-packages=true

# Use node-linker=hoisted for a bit faster installations
node-linker=hoisted

# This ensures packages in the workspace are preferred over external ones
prefer-workspace-packages=true

# Enable PNPM workspaces
enable-pre-post-scripts=true